cog==0.16.3
dlib==20.0.0
face_crop_plus==1.1.0
Flask==3.1.2
flask_session==0.8.0
legacy==0.1.7
matplotlib==3.10.5
numpy==2.3.2
opencv_python==4.10.0.84
Pillow==11.3.0
scipy==1.16.1
tqdm==4.67.1
wandb==0.21.1
ninja