/* Switching File Upload and Loader on htmx request */
#upload-area {
  position: relative;
  min-height: 200px; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-uploader, #loader {
  transition: opacity 0.3s ease-in-out;
}

.htmx-request #image-uploader {
  opacity: 0;
  pointer-events: none;
}

.htmx-request #loader {
  opacity: 1;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* File Upload Button Styling */
.file-cta {
  background: rgba( 0, 0, 0, 0.1 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
}

.file-cta:hover {
  background: rgba(0, 0, 0, 0.507);
  border: 1px solid rgba(255, 255, 255, 0.26);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
}
