<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/remove-me.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body hx-boost="true" class="bg-[conic-gradient(at_top,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black">
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns reverse-row-order is-vcentered is-tablet">
                    <div class="column is-flex is-flex-direction-column is-align-items-center is-justify-content-center is-three-fifths">
                        <div class="box">
                            {% if image %}
                                <img id="generated-image" src="{{ image }}" alt="Processed Image">                   
                            {% else %}
                                <p>There may have been some issues with processing the image, please try again</p>
                            {% endif %}
                        </div>
                        <button class="button" hx-post="/effect" hx-include="#effects-container input" hx-target="#generated-image" hx-swap="outerHTML">Apply Effects</button>
                        <div id="value-placeholder"></div>
                    </div>
                    <!-- TODO: Work on the slider layout to be more accessible -->
                    <div class="column has-text-centered is-flex is-flex-direction-column" style="max-height: 90vh;">
                        <h2 class="title is-hidden-mobile">Effects</h2>
                        <div id="effects-container" class="overflow-y-scroll">
                            <label for="glasses">Glasses</label>
                            <input type="range" id="glasses" name="glasses" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="emotion_happy">Happiness</label>
                            <input type="range" id="emotion_happy" name="emotion_happy" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="emotion_sad">Sadness</label>
                            <input type="range" id="emotion_sad" name="emotion_sad" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="emotion_fear">Fear</label>
                            <input type="range" id="emotion_fear" name="emotion_fear" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="emotion_disgust">Disgust</label>
                            <input type="range" id="emotion_disgust" name="emotion_disgust" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="smile">Smile</label>
                            <input type="range" id="smile" name="smile" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="emotion_angry">Anger</label>
                            <input type="range" id="emotion_angry" name="emotion_angry" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="emotion_surprise">Surprise</label>
                            <input type="range" id="emotion_surprise" name="emotion_surprise" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="emotion_easy">Relaxed</label>
                            <input type="range" id="emotion_easy" name="emotion_easy" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="angle_horizontal">Horizontal Angle</label>
                            <input type="range" id="angle_horizontal" name="angle_horizontal" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="angle_pitch">Vertical Angle</label>
                            <input type="range" id="angle_pitch" name="angle_pitch" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="height">Height</label>
                            <input type="range" id="height" name="height" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="width">Width</label>
                            <input type="range" id="width" name="width" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="face_shape">Face Shape</label>
                            <input type="range" id="face_shape" name="face_shape" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="race_white">Race Whte</label>
                            <input type="range" id="race_white" name="race_white" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="race_yellow">Race Asian</label>
                            <input type="range" id="race_yellow" name="race_yellow" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="race_black">Race Black</label>
                            <input type="range" id="race_black" name="race_black" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            <label for="beauty">Beauty</label>
                            <input type="range" id="beauty" name="beauty" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            
                            <label for="gender">Gender</label>
                            <input type="range" id="gender" name="gender" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                            
                            <label for="age">Age</label>
                            <input type="range" id="age" name="age" min="-10" max="10" value="0" class="range tooltip" />
                            <div class="flex w-full justify-between px-2 text-xs">
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                                <span>|</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>